body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.first {
    background: #1F2937;
    
}

/*headeri daha da yukarıya yaklaştır*/

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 15rem;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin-right: 15rem;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
    
}

.header img {
    width: 30rem;
    height: 12rem;
}