body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.first {
    background: #1F2937;
    
}

/*headeri daha da yukarıya yaklaştır*/

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 15rem;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin-right: 15rem;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


.header img {
    width: 30rem;
    height: 12rem;
}

.text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
}

.text button {
    background:  #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    padding: 8px 20px;
}


.middle-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.images img {
    border: #3882F6;
    border-radius: 15px;
    width: 6rem;
    height: auto;
    
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    
  
    
}

.img-1 {
    width: 6rem;
    display: block;
    text-align: center;
}

.img-2 {
    width: 6rem;
    display: block;
    text-align: center;
}

.img-3 {
    width: 6rem;
    display: block;
    text-align: center;
}

.img-4 {
    width: 6rem;
    display: block;
    text-align: center;
}


.middle-sec h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.quote-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.container {
    width: 35%;
    
}

.quoter {
    text-align: end;
    font-size: 28px;
    color: #1F2937;
}


.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

}

.call-to {
    background: #3882F6;
    width: 40%;
    margin-top: 70px;
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
}

.call-to button {
    background:  #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-color: #F9FAF8;
    padding: 8px 20px;
    
    
}

.text-area {
    color: #E5E7EB;
    font-size: 17px;
    
    
}

footer {
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    
}

